{:nrepl {:port 8777}

 :jvm-opts ["-Xmx1G"]

 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [dv/cljs-emotion "2023-07-16.0.0"]

  [day8.re-frame/test "0.1.5"]
  [binaryage/devtools "1.0.3"]
  [re-frisk "1.5.1"]
  [cider/cider-nrepl "0.26.0"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app {:init-fn rpn-webapp.core/init}}
   :devtools
   {:preloads [
               re-frisk.preload]}
   :dev
   {:compiler-options
    {:closure-defines
     {}}}}
  :browser-test
  {:target    :browser-test
   :ns-regexp "-test$"
   :runner-ns shadow.test.browser
   :test-dir  "target/browser-test"}
  :karma-test
  {:target    :karma
   :ns-regexp "-test$"
   :output-to "target/karma-test.js"}}}
